streamlit==1.28.1
fastapi==0.115.0
uvicorn==0.30.6
transformers==4.35.2
torch==2.9.0
git+https://github.com/openai/whisper.git 
pydantic==2.9.2
langchain==0.0.350
selenium==4.15.2
webdriver-manager==4.0.1
pillow
pydantic-settings
aiosqlite
